#bg-video {
  width: 100%;

  @media(max-width: 600px) {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}


#pickup {
  width: 100%;
  padding: 100px 0 50px 0;

  h2 {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;

    @media(max-width: 600px) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }
}


#feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;

  @media(max-width: 600px) {
    padding: 80px 16px;
  }

  h2 {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;

    @media(max-width: 600px) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .item {
      transition: all 0.3s ease;
      box-shadow: 0 0 8px 4px #ccc;
    }

    .item-content {
      padding: 30px;
    }

    .item-cat {
      font-size: 0.75rem;
      margin-bottom: 20px;
    }

    .item-text {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .item-date {
      font-size: 0.75rem;
      text-align: right;
    }
    }
  }

#contact {
  color: #fff;
  background-color: #121212;
  padding: 50px 0;

  @media(max-width: 600px) {
    padding: 80px 0;
  }

  h2 {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;

    @media(max-width: 600px) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  .content {
    max-width: 1240px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media(max-width: 600px) {
      flex-direction: column;
    }
    
  }

  .contact-info {
    width: 45%;

    @media(max-width: 600px) {
      width: 100%;
    }

    p {
      margin-bottom: 32px;
    }
  }

  .contact-form {
    width: 45%;

    @media(max-width: 600px) {
      width: 100%;
    }

    input {
      width: 100%;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 20px;
    }

    textarea {
      width: 100%;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 20px;
    }

    .button {
      input {
        width: 200px;
        color: #fff;
        background-color: #121212;
        border: solid 1px #fff;
        padding: 12px 0;
        margin-bottom: 0;
        text-align: center;

        @media(max-width: 600px) {
          width: 100%;
        }
      }
    }
  }
}